<link rel="stylesheet" href="styles/login.css">
<div id="dialog">
	<div class="loginBox" >
		<div class="loginBox_header">
			<a href="javascript:void(0)">x</a>
		</div>
		<form id="post" ng-submit="form.submit()">
			<input type="text" name="userName" ng-model="form.name" id="userName" placeholder="请输入用户名">
			<input type="text" name="pwd"  ng-model="form.password" id="pwd" placeholder="请输入密码">
			<div class="ctr">
				<input href="###" value="注册">
				<input href="###" type="submit" class="loginBox_submit" value="登录">
			</div>
		</form>
	</div>
</div>