<div class="title-show select-result">
	<div class="ctr-btn">
		<div class="pre"></div>
		<div class="next"></div>
	</div>
	<h2>账户安全</h2>
	</div>
	
<link rel="stylesheet" href="styles/safe.css">
<ul class="safeUl">
	<li><a href=""><i class="mima"></i></a><span>建议定期更改密码以保护账户安全</span><button >修改</button></li>
	<li><a href=""><i class="dianhua"></i></a><span>电话查询时会使用该密码</span><button>修改</button></li>
	<li><a href=""><i class="youxiang"></i></a><span>使用邮箱接收服务信息</span><button>修改</button></li>
	<li><a href=""><i class="shouji"></i></a><span>使用手机接收服务信息</span><button>修改</button></li>
</ul>
</div>